@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Glagolitic&display=swap');
/*
I imported the font more similar from Google fonts
*/

button{
    background-color: #f5f5f5;
    color: #6f23ff;
    padding: 10px 40px;
    border-radius: 50px;
    border: 1.15px solid #6f23ff;
    font-family: "Noto Sans Glagolitic", sans-serif;
}